/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* Background for main section of web version
    
    background-color: rgb(235, 235, 235);*/
}


#logo{
    cursor: pointer;
    width: 7vw;
}

header{
    display: flex;
    align-items: center;  
}

/*Web only styles*/

@media (min-width: 769px){ 
    #app{
        display: none;
    }

    .web-container{
        width: 72%;
        margin: auto;
    }

    header{
        justify-content: space-between;
        padding: 5px 0 0 0;
    }

    #search-bar{
        width: 16vw;
        height: 30px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 4px;
        padding: 5px;
        background-color: rgba(235, 235, 235, 0.664);
        color: rgba(0, 0, 0, 0.562);
        -webkit-appearance: none;
        outline: none;
        text-align: center;
    }

    #search-bar::placeholder{
        font-size: 1em;
        text-align: center;
        color: rgba(0, 0, 0, 0.452);
    }

    /*Buttons*/
    .web-buttons{
        padding: 8px 0;
    }
    .web-button{
        cursor: pointer;
        font-weight: 700;
        width: 60px;
        height: 30px;
        -webkit-appearance: none;
        outline: none;
        border: none;
        border-radius: 4px;
    }

    #login-button{
        background-color: rgb(1, 151, 238);
        color: #f8f8f8;
        font-size: 13px;
    }

    #signup-button{
        background-color: #ffffff;
        color: rgb(1, 151, 238);
    }

    .section-break{
        border-top: 1px solid rgb(216, 216, 216);
    }

    /*Main Section*/
    .background{
        background-color: rgba(235, 235, 235, 0.315);
    }

    .feed-heading{
        padding: 20px 0 20px 0;
        font-size: 0.9em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.562);
    }

    .pics-only{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .image{
        width: 22vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

/*App Only Styles*/

@media (min-width: 290px) and (max-width: 768px){
    #web{
        display: none;
    }

    header{
        justify-content: center;
        background-color: rgba(235, 235, 235, 0.747);
        display: flex;
        flex-direction: column;
    }
    
    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        width: 98vw;
    }

    .header-left{
        display: flex;
        align-items: center;
        background-color: #ffffff;
        height: 4vh;
        border-radius: 10px;
        padding: 3px;
    }

    #search-bar{
        outline: none;
        border: none;
        border-radius: 10px;
        width: 80vw;
        padding: 3px;
    }

    /*Main Section*/
    main{
        position: relative;
    }
    .reels{
        background-color: aqua;
        height: 50vh;
        margin: 3px;
    }

    .pics-only{
        margin: 3px;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(3, 1fr);
        /*grid-auto-rows: minmax(32vw, 32vw);*/
    }
    .image{
        width: 32vw;
    }

    .pv-container{
        margin: 3px;
        display: grid;
        grid-gap: 3px;
        grid-template-areas: 
        'top-pv-image pv-video pv-video'
        'bottom-pv-image pv-video pv-video';
    }

    .pv-video{
        /*background-image: url(../img/test.png);
        background-position: center;
        background-size: cover;*/
        
        grid-area: pv-video;
       
    }

    .video{
        width: 64vw;
    }

    .top-pv-image{
        grid-area: top-pv-image;
        width: 32vw;
        
    }

    .bottom-pv-image{
        grid-area: bottom-pv-image;
        width: 32vw;
        
    }

    /*Footer*/
    footer{
        margin: 0 5vw;
        /*position: fixed;
        z-index: -1;*/
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fa-home{
        font-size: 22px;
    }

    .footer-search{
        font-size: 20px;
    }

    .fa-plus-square{
        font-size: 22px;
    }

    .fa-heart{
        font-size: 22px;
    }

    .user{
        width: 22px;
        border-radius: 50%;
    }
}